<header class="header">
    <div class="header-content" > 
        <div class="container" style="height: 100%; max-width: 100%;" >
            <div class="row">
                <div class="col-lg-6" style="margin-top: 16px;">
                    <div>
                        <h1>Your number one home for<br><span id="js-rotating"> LOUD, COLO, ARIZONA.</span></h1>
                        <!-- <h1>Your number one home for<br><span id="js-rotating"> {{text}}</span></h1> -->
                        <P>Weezy ganja farm. Say no to CIGARETTE. <br>Your number one home for your go well joint. We bring quality to your door-step</P>
                        <a class="btn btn-round page-scroll" href="#your-link"><i class="fa fa-apple"></i>APP STORE</a>
                        <a class="btn btn-round page-scroll" href="#your-link"><i class="fa fa-google-play"></i>PLAY STORE</a>           
                    </div>
                </div>
                <div class="col-lg-6" style="text-align: right; padding: 0%">
                    <img src='./../../assets/images/cigarettekiller.png' class="icon" alt="alternative"> 
                </div>
            </div>
        </div>
    </div>
</header>