
.btn {
    background: teal;
    color: white;
    padding: 10px;
}
.btn-round{
    border-radius: 30px;
    margin: 5px;
}
.header {
    background: linear-gradient(
        to bottom right,
        rgba(72, 72, 212, 0),
        rgba(241, 104, 104, 0)
      ),
      url('./../../assets/images/header-bckground.jpg') left
        center repeat;
    background-size: cover;
    position: relative;
    margin-top: 55px;
}  
.header-content{
    color:moccasin;
    
}
#js-rotating{
    color:aqua;
}
.header .icon{
    height: 230px;
    position: relative;
    top: 5px;
    padding: 10px;
}