.navbar-custom {
	background-color: #474642;
	box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
	font: 700 0.75rem/2rem "Montserrat", sans-serif;
	transition: all 0.2s ease;
}
.navbar-custom .navbar-brand.logo-image img {
    width: 50px;
	height: 34px;
    margin-bottom: 1px;
    padding: 3px;
}
.icon-text {
    position: relative;
    font-size: 0.95em;
    top: 3px;
}