<div class="container" style="background-color: #efefef;">
    <div class="con-pad">
        <div class="row">
            <div class="col col-xs-6" style=" height: 50px;">
                <div class="" style="text-align:right;">
                    <p style="font-size:small;"> Already a member? <a style="color: #c2cfb8" href="#">Sign in</a>
                    </p>
                </div>
                <div>
                    <div class="" style="height: 100px; text-align: left;">
                        <h1>
                            Sign up
                        </h1>
                    </div>
                    <div>
                        <form class="px-5 py-5" style="font-size: small;" #regForm='ngForm'
                            (ngSubmit)="Register(regForm)">
                            <div class="form-group">
                                <label for="new1">Name</label>
                                <input type="text" class="form-control" id="new1" ngModel>
                            </div>
                            <div class="form-group">
                                <label for="new2">Email address</label>
                                <input type="text" class="form-control" id="new2" ngModel>
                            </div>
                            <div class="form-group">
                                <label for="new3">Password</label>
                                <input type="password" class="form-control" id="new3" ngModel>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                <label class="form-check-label" for="dropdownCheck">
                                    I agree to all terms statement included in the <a href=""
                                        style="color: #94ab83;">terms of
                                        service</a>
                                </label>
                            </div>
                            <div style="text-align: center;">
                                <button type="submit" class="btn btn-border"
                                    style="position:relative; color: white;">Register</button>
                            </div>
                            <h2><span class="line-center">or</span></h2>
                        </form>
                    </div>
                    <div>
                        <!-- <p><span>or</span></p> -->
                    </div>
                </div>
            </div>
            <div class="col col-xs-6 rt-col">
                <div class="" style="height: 50px;">
                    <p style="font-size:small; color:#859f71;"> WEEZY.FARM
                    </p>
                </div>
                <div style="text-align: end;">
                    <p style="text-align: start; font-size: 32px; margin-top: 110px;">Access your <br> city's best <br>
                        <span style="color: #4d7500;"> QUALITY</span> Maryjane</p>
                    <div style="position: relative;">
                        <div id="smoke">
                            <span class="s0"></span>
                            <span class="s1"></span>
                            <span class="s2"></span>
                            <span class="s3"></span>
                            <span class="s4"></span>
                            <span class="s5"></span>
                            <span class="s6"></span>
                            <span class="s7"></span>
                            <span class="s8"></span>
                            <span class="s9"></span>
                        </div>
                        <img style="vertical-align: middle;
                    margin-top: -65px;" src="../../assets/images/cigarettekiller.png" class="wd-img" alt="alternative">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>